#sub {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #e7717d;
  border: 2px solid #e7717d;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#sub:hover {
  background-color: #e7717d;
  color: #ffffff;
  border: 2px solid #e7717d;
}
